In [1]:
import pandas as pd
df= pd.read_csv("E:\LIT CONTENT\ML PROJECT\Pandas tutorial\data2019\dataframe.csv",index_col='Respondent')
schema_df=pd.read_csv("E:\LIT CONTENT\ML PROJECT\Pandas tutorial\data2019\survey_results_schema.csv",index_col='Column')
#to sort data based on index
schema_df.sort_index(ascending = True, inplace=True)
pd.set_option("display.max_columns", 85)
pd.set_option("display.max_rows",85)
schema_df

                                                             QuestionText
Column
Age                     What is your age (in years)? If you prefer not...
Age1stCode              At what age did you write your first line of c...
BetterLife              Do you think people born today will have a bet...
BlockchainIs            Blockchain / cryptocurrency technology is prim...
BlockchainOrg           How is your organization thinking about or imp...
CareerSat               Overall, how satisfied are you with your caree...
CodeRev                          Do you review code as part of your work?
CodeRevHrs              On average, how many hours per week do you spe...
CompFreq                 Is that compensation weekly, monthly, or yearly?
CompTotal               What is your current total compensation (salar...
Containers              How do you use containers (Docker, Open Contai...
ConvertedComp           Salary converted to annual USD salaries using ...
Country                         In which country do you currently reside?
CurrencyDesc            Which currency do you use day-to-day? If your ...
CurrencySymbol          Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear  Which of the following database environments h...
DatabaseWorkedWith      Which of the following database environments h...
Dependents              Do you have any dependents (e.g., children, el...
DevEnviron              Which development environment(s) do you use re...
DevType                 Which of the following describe you? Please se...
EdLevel                 Which of the following best describes the high...
EduOther                Which of the following types of non-degree edu...
Employment              Which of the following best describes your cur...
EntTeams                Have you ever used Stack Overflow for Enterpri...
Ethnicity               Which of the following do you identify as? Ple...
Extraversion              Do you prefer online chat or IRL conversations?
FizzBuzz                Have you ever been asked to solve FizzBuzz in ...
Gender                  Which of the following do you currently identi...
Hobbyist                                          Do you code as a hobby?
ITperson                 Are you the "IT support person" for your family?
ImpSyn                  For the specific work you do, and the years of...
JobFactors              Imagine that you are deciding between two job ...
JobSat                  How satisfied are you with your current job? (...
JobSeek                 Which of the following best describes your cur...
LanguageDesireNextYear  Which of the following programming, scripting,...
LanguageWorkedWith      Which of the following programming, scripting,...
LastHireDate            When was the last time that you took a job wit...
LastInt                 In your most recent successful job interview (...
MainBranch              Which of the following options best describes ...
MgrIdiot                How confident are you that your manager knows ...
MgrMoney                Do you believe that you need to be a manager t...
MgrWant                 Do you want to become a manager yourself in th...
MiscTechDesireNextYear  Which of the following other frameworks, libra...
MiscTechWorkedWith      Which of the following other frameworks, libra...
OffOn                         Have you tried turning it off and on again?
OpSys                   What is the primary operating system in which ...
OpenSource              How do you feel about the quality of open sour...
OpenSourcer                   How often do you contribute to open source?
OrgSize                 Approximately how many people are employed by ...
PlatformDesireNextYear  Which of the following platforms have you done...
PlatformWorkedWith      Which of the following platforms have you done...
PurchaseHow             How does your company make decisions about pur...
PurchaseWhat            What level of influence do you, personally, ha...
Respondent              Randomized respondent ID number (not in order ...
ResumeUpdate            Think back to the last time you updated your r...
SOAccount                           Do you have a Stack Overflow account?
SOComm                  Do you consider yourself a member of the Stack...
SOFindAnswer            On average, how many times a week do you find ...
SOHowMuchTime           About how much time did you save? If you're no...
SOJobs                  Have you ever used or visited Stack Overflow J...
SONewContent            Would you like to see any of the following on ...
SOPartFreq              How frequently would you say you participate i...
SOTimeSaved             Think back to the last time you solved a codin...
SOVisit1st              To the best of your memory, when did you first...
SOVisitFreq             How frequently would you say you visit Stack O...
SOVisitTo               I visit Stack Overflow to... (check all that a...
ScreenName                                           What do you call it?
Sexuality               Which of the following do you currently identi...
SocialMedia                   What social media site do you use the most?
Student                 Are you currently enrolled in a formal, degree...
SurveyEase              How easy or difficult was this survey to compl...
SurveyLength            How do you feel about the length of the survey...
Trans                                     Do you identify as transgender?
UndergradMajor          What was your main or most important field of ...
UnitTests               Does your company regularly employ unit tests ...
WebFrameDesireNextYear  Which of the following web frameworks have you...
WebFrameWorkedWith      Which of the following web frameworks have you...
WelcomeChange           Compared to last year, how welcome do you feel...
WorkChallenge           Of these options, what are your greatest chall...
WorkLoc                                   Where would you prefer to work?
WorkPlan                          How structured or planned is your work?
WorkRemote                                How often do you work remotely?
WorkWeekHrs              On average, how many hours per week do you work?
YearsCode               Including any education, how many years have y...
YearsCodePro            How many years have you coded professionally (...

In [4]:
df.median()

CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [5]:
df.describe()

          CompTotal  ConvertedComp   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

In [7]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [14]:
df['SocialMedia'].value_counts(normalize = True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

In [13]:
df['Country'].value_counts(normalize = True)

United States                       0.236042
India                               0.102095
Germany                             0.066095
United Kingdom                      0.064642
Canada                              0.038253
                                      ...
Saint Vincent and the Grenadines    0.000011
Timor-Leste                         0.000011
North Korea                         0.000011
Niger                               0.000011
Chad                                0.000011
Name: Country, Length: 179, dtype: float64

In [32]:
country_grp = df.groupby(['Country'])
country_grp['SocialMedia'].value_counts(normalize=True).loc["India"]

SocialMedia
WhatsApp                    0.342379
YouTube                     0.208405
LinkedIn                    0.109355
Facebook                    0.096301
Instagram                   0.094126
Twitter                     0.062063
Reddit                      0.054162
I don't use social media    0.028627
Snapchat                    0.002634
Hello                       0.000573
WeChat 微信                   0.000573
VK ВКонта́кте               0.000458
Youku Tudou 优酷              0.000229
Weibo 新浪微博                  0.000115
Name: SocialMedia, dtype: float64

In [37]:
country_grp = df.groupby(['Country'])
country_grp['ConvertedComp'].agg(['median','mean']).loc['India']

median    10080.000000
mean      28057.664916
Name: India, dtype: float64

In [41]:
filt= df['Country']=='India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

3105

In [44]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [48]:
country_respondents = df['Country'].value_counts()
country_respondents
respondents_python=country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
respondents_python

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [62]:
python_df = pd.concat([country_respondents, respondents_python],axis='columns',sort=False)
python_df

                                  Country  LanguageWorkedWith
United States                       20949               10083
India                                9061                3105
Germany                              5866                2451
United Kingdom                       5737                2384
Canada                               3395                1558
...                                   ...                 ...
Saint Vincent and the Grenadines        1                   0
Timor-Leste                             1                   1
North Korea                             1                   0
Niger                                   1                   1
Chad                                    1                   0

[179 rows x 2 columns]

In [63]:
python_df.rename(columns={'LanguageWorkedWith':'PythonResp','Country':'RespondentNum'},inplace=True)
python_df

                                  RespondentNum  PythonResp
United States                             20949       10083
India                                      9061        3105
Germany                                    5866        2451
United Kingdom                             5737        2384
Canada                                     3395        1558
...                                         ...         ...
Saint Vincent and the Grenadines              1           0
Timor-Leste                                   1           1
North Korea                                   1           0
Niger                                         1           1
Chad                                          1           0

[179 rows x 2 columns]

In [64]:
python_df['%age']=(python_df['PythonResp']/python_df['RespondentNum']) *100

In [68]:
python_df.sort_values(by="%age",ascending=False,inplace =True)
python_df.head(55)

                                  RespondentNum  PythonResp        %age
Timor-Leste                                   1           1  100.000000
Niger                                         1           1  100.000000
Sao Tome and Principe                         1           1  100.000000
Dominica                                      1           1  100.000000
Turkmenistan                                  7           6   85.714286
Mauritania                                    7           5   71.428571
Guyana                                        3           2   66.666667
Guinea                                        3           2   66.666667
Bahamas                                       3           2   66.666667
Uganda                                       72          47   65.277778
Iceland                                      49          30   61.224490
Benin                                         5           3   60.000000
Namibia                                       5           3   60.000000
Haiti                                         5           3   60.000000
Congo, Republic of the...                     7           4   57.142857
Oman                                         11           6   54.545455
Cuba                                         30          16   53.333333
Republic of Korea                            39          20   51.282051
Seychelles                                    2           1   50.000000
South Korea                                 160          80   50.000000
Sierra Leone                                  2           1   50.000000
San Marino                                    2           1   50.000000
Monaco                                        4           2   50.000000
Bhutan                                        2           1   50.000000
Chile                                       206         102   49.514563
Finland                                     546         266   48.717949
Kenya                                       249         120   48.192771
United States                             20949       10083   48.131176
Israel                                      952         457   48.004202
Ecuador                                      82          39   47.560976
Montenegro                                   17           8   47.058824
Taiwan                                      187          88   47.058824
Mongolia                                     17           8   47.058824
Switzerland                                 978         460   47.034765
United Republic of Tanzania                  32          15   46.875000
Hong Kong (S.A.R.)                          188          88   46.808511
Japan                                       391         182   46.547315
Maldives                                     13           6   46.153846
Canada                                     3395        1558   45.891016
Singapore                                   303         139   45.874587
New Zealand                                 524         236   45.038168
China                                       664         297   44.728916
Honduras                                     27          12   44.444444
France                                     2391        1054   44.081974
Iraq                                         39          17   43.589744
Thailand                                    214          92   42.990654
Democratic Republic of the Congo              7           3   42.857143
Nepal                                       237         101   42.616034
Estonia                                     195          82   42.051282
Russian Federation                         1694         708   41.794569
Germany                                    5866        2451   41.783157
Ireland                                     501         209   41.716567
Rwanda                                       12           5   41.666667
United Kingdom                             5737        2384   41.554820
Australia                                  1903         790   41.513400

Index(['RespondentNum', 'PythonResp', '%age'], dtype='object')